<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body>
		<h1>Mammograms Analysis Report</h1>
		<ul id="PDFcontent" class="list-group list-group-flush">
			{% for i in range(mammograms|length) %}
			<li class="list-group-item container">
				<div class="row">
					<img src="{{ filepath }}{{ mammograms[i].croppedFile }}">
					<div class="col">
						<h4>{{ mammograms[i].title }}</h4>
						<div class="row">
							<div class="col">
								<p>Patient name: {{ mammograms[i].patientName }}</p>
								<p>Breast: {{ mammograms[i].breast }}</p>
								<p>Mammogram view: {{ mammograms[i].breastView }}</p>
							</div>
							<div class="col">
								<p>Description: {{ mammograms[i].notes }}</p>
								<p>Verdict: {{result[i]}}</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>